body {
  font-family: Helvetica, sans-serif;
}

.hero {
  background-image: url(/Users/sszerlip/Desktop/codecademy/broadway/resources/images/the-flatiron-building.png);
  color: white;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

.btn-nav {
  color: white;
  font-size: 18px;
}

.supporting {
  text-align: center;
}

h1, h2, h3 {
  font-weight: bold;
}

.supporting h2 {
  font-size: 32px;
}

.supporting h3 {
  font-size: 23px;
}

.supporting-item p {
  font-size: 14px;
}

.mini-hero h3 {
  color: white;
  background-image: url(/Users/sszerlip/Desktop/codecademy/broadway/resources/images/the-flatiron-building.png);
  font-size: 23px;
  text-align: center;
}

.footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
